@charset "UTF-8";

body {
   margin: 0;
   padding: 0;
}

.header_box_space {
	width: 100%;
	height: 60px;
}

a{
	color: black;
 text-decoration: none;	
	}



.circle1{
   width: 15px;
   height: 15px;
   border-radius:50%;
   justify-content: center;
   align-items: center;
   border: 2px solid black;
   
   margin-bottom: 50px;
}
.header__right1 {
    text-align: right;
    padding: 35px 5px 27px 1px;
}
.header_box {
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: space-between;
   border-bottom: 1.5px solid rgba(173, 173, 173, 0.9);
   position: fixed;
   z-index: 99999999;
   background-color: white;
   top: 0px;

}

.top_left_box {
   width: 50%;
   height: 100%;
   display: flex;
   align-items: center;
}

.top_right_box {
   width: 300px;
   height: 100%;
   display: flex;
   justify-content: end;
   align-items: center;
   padding-right: 40px;
}

.logo_box {
   width: 150px;
   height: 60px;
   background-color: rgb(202, 202, 202);
   margin-left: 20px;
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.menu_item {
   width: 120px;
   height: 60px;
   /* background-color: red; */
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 10px;
}

.menu_item1 {
   width: 80px;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 10px;
   /* font-weight: 550; */
}

.icon_box {
   width: 50px;
   height: 50px;
   margin-right: 10px;
   /* background-color: red; */
   display: flex;
   justify-content: center;
   align-items: center;
}

.icon_box1 {
   width: 30px;
   height: 50px;
   margin-right: 20px;
   margin-left: 20px;
   /* background-color: red; */
   display: flex;
   justify-content: center;
   align-items: center;
}

/* topNavbar 영역 */