body {
   margin: 0;
   padding: 0;
   background-color: rgba(237, 237, 237, 0.698);
 }



  input[type="checkbox"]{
   display:none;
   
   
}
  input[type="button"]{
   outline:none;
   border:none;
   color: white;
   font-size:16px;
   
   
}



/* contentBox 영역 */
.content_box {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 160px;
}

.container {
   width: 70%;
   margin-top: 60px;
   margin-bottom: 60px;
}

.top {
   height: 60px;
   display: flex;
}

.mid {
   height: 100%;
}

.bot {
/*    background-color: rgb(226, 226, 226); */
   height: 80px;
}

/* .lay {
   outline: 1px dashed red;
}
 */
.pro_box {
   width: 40%;
   height: 100%;
   display: flex;
   align-items: center;
}

.total_box {
   width: 26%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.amount_box {
   width: 24%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.check_box {
   width: 10%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.top div {
   font-size: larger;
}

.item_box {
   width: 100%;
   height: 150px;
   display: flex;
   border-bottom: 1px solid rgb(120, 120, 120);
}

.product_item {
   width: 40%;
   height: 100%;
   display: flex;
   align-items: center;
}

.total_item {
   width: 26%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.amount_item {
   width: 24%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.check_item {
   width: 10%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.img_box {
   width: 100px;
   height: 100px;
   /* background-color: red; */
}

.title_box {
   width: 200px;
   height: 40px;
   /* background-color: green; */
   display: flex;
   align-items: center;
   margin-left: 20px;
}

.text_box {
   width: 200px;
   height: 40px;
   /* background-color: green; */
   display: flex;
   align-items: center;
   justify-content: center;
}

.check_icon_box {
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.check_icon_box span {
   font-size: 20px;
   color: white;
}
.circle{
   width: 30px;
   height: 30px;
   border-radius:50%;
   background-color: rgb(215,215,215);
   display: flex;
   justify-content: center;
   align-items: center;
}
.check_icon_box :hover{
   background-color: #000000;
   cursor: pointer;
}
.checked{
   background-color:#000000;
}

/* bottom 영역 */
.bot {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.bot_left {
   width: 150px;
   height: 50px;
   background-color: #BABABA;
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}
/* .bot_left:hover{
   background-color: #000000;
   cursor: pointer;
} */


.bot_right {
   width: 400px;
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* .bc {
   outline: 1px dashed red;
   background-color: rgba(127, 255, 212, 0.396);
} */

.delete {
   color: #FFFFFF;
}

.right {
   font-size: 30px;
}

.text_box2 {
   display: flex;
   justify-content: end;
   margin-left: 10px;
   font-size: 30px;
}

 