.mySwiper {
    width: 100%;
    height: 527px;
    margin-top: 40px;
  }

swiper-slide {
    margin-top: 5px;
    width: 30%;
    height: 517px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.swiper-top {
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left:20px;
	float: left;
    font-size: 28px;
    font-weight: 600;
}

.swiper-image {
    width: 240px;
    height: 240px;
    margin-top: 20px;
    margin-left: 50px;
}

.swiper-bottom {
    margin-top: 70px;
    margin-left: 20px;
}

.swiper-button {
    width: 100px;
    height: 30px;
    margin-left: 40px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 16px;
}

swiper-slide img {
    display: block;
    width: fit-content;
    height: fit-content;
    object-fit: cover;
}
