
.mySwiper {
    width: 1760px;
    height: 410px;
    margin-top: 40px;
  }

swiper-slide {
    height: 400px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 5px gray;
    display: flex;
    justify-content: center;
    /*margin-bottom: 5px;*/
}
 
.swiper-top {
    margin-bottom: 10px;
	margin-right: 270px;
    font-size: 24px;
    font-weight: 600;
}

.swiper-image {
    width: 240px;
    height: 240px;
    margin-top: 20px;
    margin-left: 50px;
}

.swiper-bottom {
    margin-top: 50px;
    margin-left: 0px;
}

.swiper-button {
    width: 100px;
    height: 30px;
    margin-left: 70px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 16px;
}

swiper-slide img {
    display: block;
    width: fit-content;
    height: fit-content;
    object-fit: cover;
}